:root {
  --background-color: var(--background);
  --text-color: var(--foreground);
}

[data-theme='dark'] {
  --background-color: var(--background);
  --text-color: var(--foreground);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}